@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

body {
  margin: 0;
  font-family: var(--shortstack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Courier New',
    monospace;
}

:root{
  --shortstack : "Short Stack", cursive;
}